html, body {
  margin: 0;
  padding: 0;
  background-image: url(blueberry-5379612_1920.jpg);
  background-size: 300%;
  font-family: Roboto;
}

header{
  background-color: #343D52;
  padding: 10px;
  left: 0;
  top: 0;
}

.img1 {
  width: 30vw;
  height: 35vh;
  border-radius: 0.875rem;
  margin-left: 5%;
}

.img2 {
  width: 30vw;
  height: 35vh;
  border-radius: 0.875rem;
  margin-left: 5%; 
}

.img3 {
  width: 30vw;
  height: 35vh;
  border-radius: 0.875rem;
  margin-left: 5%; 
}

.img4 {
  width: 30vw;
  height: 35vh;
  border-radius: 0.875rem;
  margin-left: 5%; 
}

.img5 {
  width: 30vw;
  height: 35vh;
  border-radius: 0.875rem;
  margin-left: 5%; 
}

.logo img{
  width: 90px;
  height: 65px;
  position: absolute;
  left: 170px;
  top: 15px;
}

.fitur{
  position: absolute;
  top: 50px;
  right: 40px;
}

.fitur a{
  font-size: 24px; 
  margin-left: 10px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

button{
  padding: 10px 25px;
  background-color: lightblue;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  margin-left: 10px;
  cursor: pointer;
}

button:hover{
  background-color: white;
}

.container{
  margin: auto;
  width: 45%;
  padding: 0.850rem;
  overflow: auto;
  line-height: 1.3;
  border-radius: 0.875rem;
  background-color: #343D52;
  font-family: Helvetica Neue,Helvetica, Arial, sans-serif;  
}

h3 {
  color: lightblue;
  margin: 5% auto auto 2.5%;
  }

ul li {
  color: lightblue;
}

.calc-outer-wrap {
  margin: 0 auto;
  background-color: #003465;
  padding: 0.850rem;
  font-size: 1rem;
  line-height: 1.3;
  border-radius: 0.875rem;
  font-family: Helvetica Neue,Helvetica, Arial, sans-serif;
  width: 45%;
  overflow: auto;
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  box-sizing: border-box;
}

.field-outer {
  width: 48%;
}

label,
input,
select {
  font-size: 1rem;
  line-height: 1.3;
  display: block;
}
input,
select {
  height: 1.75rem;
  border: 1px solid #bbb;
  width: 100%;
  background: lightblue;
  padding: 0 0.325rem;
  border-radius : 0.1875rem;
  transition: box-shadow 200ms ease-in-out;
  box-shadow: inset 0 0 0 0 #59e7ed;
  -webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;

  &:focus {
    outline: 0;
    box-shadow: inset 0 -3px 0 -1px #59e7ed;
    border-radius: 0.1875rem 0.1875rem 1px 1px;
  }
}
select {
  background: lightblue url("data:image/svg+xml;charset=UTF-8,%3csvg width='8px' height='14px' viewBox='0 0 8 17' xmlns='http://www.w3.org/2000/svg' fill='%238A8A8A'%3e%3cpolygon fill='%238A8A8A' points='4 17 0 10 8 10'%3e%3c/polygon%3e%3cpolygon fill='%238A8A8A' points='4 0 0 7 8 7'%3e%3c/polygon%3e%3c/svg%3e") 94% center no-repeat;
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  &::-ms-expand {
    display: none;
  } 
}

.field-items {
  display: flex;
  justify-content: space-between;
  label {
    font-size: 0.75rem;
    color: #999;
  }
}

.field {
  display: inline-block;
  width: 25%;
  margin: 1vw 1vw 0.25vw 0.25vw;
}

.field-large{
  flex: 1;
  width: 5vw;
}

.field-small{
  width: 2.5em;
  margin: 1vw 10vw 0.25vw 0.25vw;
}

.top-label {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.4;
  display: block;
}

.field-medium{
  width: 8em;
}

.klmn {
  margin: 1vw 5.5vw 0.25vw 0.25vw;
}

.scndTop-label {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.4;
  display: block;
}

.btn-wrap {
  align-self: flex-end;
}
.form-submit {
  background: #99cfe0;
  display: block;
  float: right;
  border: 0;
  width: 70%;
  font-size: 1rem;
  border-radius: 0.875rem;
  height: 2rem;
  line-height: 1vh;
  font-weight: 600;
  color:#000;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.15);
  cursor: pointer;

  
}
.form-submit:hover,
.form-submit:focus {
    background: #72bcd4;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.3);
    outline: 0;
  }

.form-submit:active {
    box-shadow: none;
  }

#form-error {
  color: #fff;
  margin-bottom: 0.5rem;
  text-align:center;
  color: #c1000b;
  background-color: #ffd5d5;
  padding: 3px;
  font-size: 0.875rem;
}

#results {
    position: relative;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
   p {
    margin: 0;
  }  
  
  #rs {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.875rem;
    color: #aaa;
    decoration: none;
  }
}
#rs:hover {
      color: #9951FF;
    }
