html, body{
  margin: 0;
  padding: 0;
  background-color: #1d2951;
  font-family: roboto;
}

header{
  background-color: #343D52;
  padding: 10px;
  left: 0;
  top: 0;
}
.logo img{
  width: 90px;
  height: 65px;
  position: absolute;
  left: 170px;
  top: 15px;
}

.container{
  margin: 15% auto 15% auto;
  width: 35%;
  height: 30vh;
  padding: 0.825rem;
  overflow: auto;
  line-height: 1.3;
  border-radius: 0.875rem;
  background: #73c2fb;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#card-title {
  margin: auto 25% auto 40%;
}

table {
  margin: auto 25% auto 18%;
}

input {
  width: 10vw;
  height: 3vh;
  border: 4px solid #ccc;
  border-radius: 0.875rem;
}

input:focus {
  border: 4px solid navy;
}

.submit{
  background: rgba(79,134,247);
  width: 6vw;
  height: 3vh;
  display: block;
  margin: auto 25% auto 43%;
  border: 0;
  border-radius: 0.18rem;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.15);
  cursor: pointer;
}

.submit:hover,
.submit:focus {
  background: #57a0b3;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.3);
    outline: 0;
}

.username {
  width: 10vw;
  height: 6vh;
}

.password {
  width: 10vw;
  height: 6vh;
}
