html, body{
  margin: 0;
  padding: 0;
  background-color: #1d2951;
  font-family: roboto;
}

header{
  background-color: #343D52;
  padding: 10px;
  left: 0;
  top: 0;
}
.logo img{
  width: 90px;
  height: auto;
  position: absolute;
  left: 170px;
  top: 15px;
}

.container{
  margin: 10% auto 15% auto;
  width: 35vw;
  height: 50vh;
  padding: 0.825rem;
  overflow: auto;
  line-height: 1.3;
  border-radius: 0.875rem;
  background: #73c2fb;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

p {
  margin: auto 25% auto 25%;
  text-align: center;
}

.h1 {
  margin: 1.5% 25% 1.25% 25%;
  text-align: center;
}

ul li, label {
  list-style: none;
  margin: auto 25% auto 24.5%;
}

input {
  width: 12vw;
  height: 3vh;
  border: 4px solid #ccc;
}

input:focus {
  border: 4px solid navy;
}

.clearfix {
  ul {
    display: inline-block;
  }
  margin: auto 10vw 10vh 14vw;
}

.checkbox {
  height: 1.25vh;
  width: 3vw;
}

.cancel_btn {
  background: rgba(79,134,247);
  width: 6vw;
  height: 3vh;
  display: block;
  border: 0;
  border-radius: 0.18rem;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.15);  
}

.cancel_btn:hover,
.cancel_btn:focus {
  background: rgba(79,134,247);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.3);
    outline: 0;
    cursor: pointer;
}

.signUp_btn {
  background: rgba(79,134,247);
  width: 6vw;
  height: 3vh;
  display: block;
  border: 0;
  border-radius: 0.18rem;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.15);
}

.signUp_btn:hover,
.signUp_btn:focus {
  background: #0f52ba;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.3);
    outline: 0;
    cursor: pointer;
}
